*{
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
header, footer, section {
	width:auto;
	margin:auto;
}
.header {
	height: 70px;
	
}
.header1{

	height: 50px;	
	font-family: 'Monoton', cursive;
	background-color: linear-gradient ( darkred, red)
	
	
	
	
	
}
.logo-nav-contiene{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}
.logo{
	float: left;
	background-image: url(imagenes/P1.jpg);
	height: 180px;
	width: 300px;
	background-size: cover;
	object-fit: contain;
	margin-left: 5%;
	margin-top: 0%;
}
.botonera {
	margin: 0px;;
	padding: 0;
	margin-right: 10px;
	}
.botonera ul{
	list-style: none;
}
.botonera ul li {
	display: inline-block;	
}
.botonera ul li a {
	display: block;
	color:black;
	text-decoration: none;
	padding: 30px;	
}
.botonera ul li :hover {
	background: #A9A9A9 ;
	border-radius: 10px ; 
	transform: scale(0.8);
	transition:all 0.2s ease 0.3s;
	border: solid black 2px;
	
}
#video{
	width: 90%;
	margin-left:5%;
	margin-right: 5%;
	height: 90%;
	background-repeat: repeat;
	object-fit: cover;
}
section{
	height: 400px;
	
}
#menu{
	background-color: white;
	font-family: 'Monoton'
	
}
@keyframes swing {
	
	
	0% {transform: translateX(0%);}
	100%{transform: translateX(100%);}


	
}
.frase {

 	font-family: 'Gloria Hallelujah', cursive;
	margin-top: -70px;
	margin-left: 10%;
	position: absolute;
	color: antiquewhite;
	animation:swing 6s ease-out;
	animation-iteration-count: infinite;


}


#nosotros{
	height: 300px;
}
.texto-nosotros{
	margin: 100px 30px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;

}
#servicios{
	
	height: auto;
}


.contenedor{
	display: flex;
}
.contenedor :hover.actividad{ 
	transform: scale(1.05);
}
.contenedor :hover.boton{ 
	transform: scale(1.08);
	text-shadow: 1px 2px #002244;

}
.contenedor-actividad{
	display: flex;



}
.imagen{
	width: 250px;
	height: 300px;
	object-fit: cover;
	box-sizing: border-box;
	border-radius: 5px;
	

}
.actividad{
	padding: 20px 10px 20px;

	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 20px;
	margin: 2%;

}
.texto-actividad{
	text-align: center;
	font-family: 'Staatliches', cursive;
}

.boton{
	padding: 5px;
	letter-spacing: 2px;
	font-family:'Gloria Hallelujah', cursive; 
	background-color: lightgrey;
	color: black;
}
h3{
	font-family: 'Staatliches', cursive;
}





footer{
	height: 100px;
	background-color: orange;

	
}


@media screen and (min-width:2px )and (max-width:600px) {
	  body{
		  background-color: blue;
	  }
}