*{
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
header, footer, section {
	width:auto;
	margin:auto;
}
.header {
	height: 70px;
	
}
.header1{

	height: 50px;	
	font-family: 'Monoton', cursive;
	background-color: linear-gradient ( darkred, red)
	
	
	
	
	
}
.logo-nav-contiene{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}
.logo{
	float: left;
	background-image: url(imagenes/P1.jpg);
	height: 180px;
	width: 300px;
	background-size: cover;
	object-fit: contain;
	margin-left: 5%;
	margin-top: 0%;
}
.botonera {
	margin: 0px;;
	padding: 0;
	margin-right: 10px;
	}
.botonera ul{
	list-style: none;
}
.botonera ul li {
	display: inline-block;	
}
.botonera ul li a {
	display: block;
	color:black;
	text-decoration: none;
	padding: 30px;	
}
.botonera ul li :hover {
	background: #A9A9A9 ;
	border-radius: 5px;
}
#video{
	width: 90%;
	margin-left:5%;
	margin-right: 5%;
	height: 90%;
	background-repeat: repeat;
	object-fit: cover;
}
section{
	height: 400px;
	
}
#menu{
	background-color: white;
	font-family: 'Monoton'
	
}
.frase {

 	font-family: 'Gloria Hallelujah', cursive;
	margin-top: -70px;
	margin-left: 10%;
	position: absolute;
	color: antiquewhite;
}

#nosotros{
	height: 300px;
}
.texto-nosotros{
	margin: 100px 30px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;

}
#servicios{
	background-color: beige;
}


.contenedor{
	display: flex;

}
.contenedor-actividad{
	display: flex;

}
.imagen{
	width: 250px;
	height: 400px;
	object-fit: cover;

}
.actividad{

}
.texto-actividad{
	text-align: center;
	
}








footer{
	height: 100px;
	background-color: orange;
}