*{
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
header, footer, section{
	width:auto;
	margin: 10px 0px;

}
.marca{
	display: flex;
	justify-content: flex-end;
	align-content: stretch;
	align-content: center;

	
}


/* Barra de navegacion */

.logo-nav-contiene{
	display: flex;
	justify-content: space-around;
	justify-content: center;
	flex-flow: row wrap;
	font-family: 'Monoton', cursive;
	background-color: black;
}

.botonera {
	margin: 0px;;
	padding: 0;
	margin-right: 10px;
	
	}
.botonera ul{
	list-style: none;

}
.botonera ul li {
	display: inline-block;
	
}
.botonera ul li a {
	display: block;
	color:white;
	text-decoration: none;
	padding: 30px;	
}
.botonera ul li :hover {
	background: #A9A9A9 ;
	border-radius: 10px ; 
	transform: scale(0.8);
	transition:all 0.2s ease 0.3s;
	border: solid black 2px;
	
}

/* Fin de barra de navegacion */


#video{
	width: 90%;
	margin-left:5%;
	margin-right: 5%;
	height: 60%;
	background-repeat: repeat;
	object-fit: cover;
}

#menu{
	background-color: white;
	font-family: 'Monoton'
	
}
@keyframes swing {
	
	
	0% {transform: translateX(0%);}
	100%{transform: translateX(100%);}


	
}
.frase {

 	font-family: 'Gloria Hallelujah', cursive;
	margin-top: -70px;
	margin-left: 10%;
	position: absolute;
	color: rgb(rgba 32, 34, 31, 0.356);
	animation:swing 6s ease-out;
	animation-iteration-count: infinite;


}
.texto-inicio{
	display: inline-flex;

}



.texto-nosotros{
	margin: 50px 30px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}


		/* SERVICIOS */


.contenedor-actividad{
display: flex;	
justify-content: space-evenly;
flex-flow: wrap row;
margin: 10px 10px;;

}
.contenedor-actividad :hover.actividad{ 
	transform: scale(1.05);
}
.contenedor-actividad :hover.boton{ 
	transform: scale(1.08);
	text-shadow: 1px 2px #002244;

}
.actividad{
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10PX;
	margin: 10px 0px;

}

.imagen{
	width: 200px;
	height: 300px;
	object-fit: cover;
	box-sizing: border-box;
	border-radius: 5px;
	

}

.texto-actividad{
	text-align: center;
	font-family: 'Staatliches', cursive;
}

.boton{
	padding: 5px;
	letter-spacing: 2px;
	font-family:'Gloria Hallelujah', cursive; 
	background-color: lightgrey;
	color: black;
}
h3{
	font-family: 'Staatliches', cursive;
}



		/* FIN DE SERVICIOS */






.row-col-lg-2{
	margin: 20%;
}


.galeria{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: 5px 5px ;
	
}
.galeria img{
	margin: 5px;

}
			/* inico NOVEDADES */

.novedades{
    border: 2px solid gray;
    border-radius: 15px;
    margin: 4px 80px;
    padding: 10px ;
    overflow: hidden; 
	font-family: 'Gloria Hallelujah', cursive;
	
}
.novedades h4{
	text-align: center;
	padding: 15px;
}
.imagen2{
	width: 250px;
	height: 300px;
	object-fit: cover;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid black;
}
.novedades:nth-child(even) img{
    float: right;
    margin: 2px;
}

.novedades:nth-child(odd) img{
    float: left;
    margin: 2px;
}





		/* FIN DE NOVEDADES */













/*PIE DE PAGINA
 */


.contenedor-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: black;

	

}
.contenedor-footer div{

	margin:20px;
	padding: 15px;
	font-family: 'Monoton', cursive;
	
}
.contenedor-footer div a{
	color:white;
	text-decoration: none;
}

.contenedor-footer div :hover{
	background: #A9A9A9 ;
	border-radius: 10px ; 
	padding: 15px;
	transform: scale(0.8);
	transition:all 0.2s ease 0.3s;
	border: solid black 2px;
	color: black;
	text-decoration: none;
	
}



.container{
	border: solid 2px black;
	padding: 30px;
	box-sizing: border-box;
}
.derechos{
	display: flex;
	justify-content: center;
	background-color: rgb(235, 214, 214);
	width: 100%;
	align-content: center;
	padding: 10px;
}



















































/* Media resolucion para pantallas entre 0 y 500px*/
@media screen and (max-width:600px) {
	
